[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
	branch = yaml-cpp-0.7.0
[submodule "vendor/QHexView"]
	path = vendor/QHexView
	url = https://github.com/Dax89/QHexView.git
	branch = v5.0.0
