[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=QDAP
Exec=/usr/bin/QDAP
Comment=cmsis-dap upper by a Qt
Icon=qdap
StartupNotify=false
Encoding=UTF-8
Categories=Development

